<section class="hero has-background-light is-fullheight">
  <div class="hero-head">
    {{- partial "header.html" . -}}
  </div>
  <div class="hero-image">
      <img
    sizes="(max-width: 500px) 50vw, 500px"
    srcset="
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_200.jpg   200w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_361.jpg   361w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_485.jpg   485w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_593.jpg   593w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_690.jpg   690w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_776.jpg   776w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_854.jpg   854w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_938.jpg   938w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_1017.jpg 1017w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_1086.jpg 1086w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_1152.jpg 1152w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_1222.jpg 1222w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_1282.jpg 1282w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_1338.jpg 1338w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_1373.jpg 1373w,
      /images/coffee/coffee-compressor_qfwyhj_c_scale,w_1400.jpg 1400w
    "
    src="/images/coffee/coffee-compressor_qfwyhj_c_scale,w_1400.jpg"
    alt=""
  />  
  </div>
  <div class="hero-body">
    <div class="container">
      <p class="subtitle is-size-3 is-size-4-mobile">¡Hola! 👋</p>
      <h1 class="title is-size-1 is-size-3-mobile">
        Soy Dani.
      </h1>
      <h2 class="subtitle is-size-3 is-size-4-mobile has-text-grey">
        Me encanta programar en
        <strong class="has-text-info">JavaScript</strong> y puedo ser tu
        <strong class="has-text-info">mentor</strong>
      </h2>
      <a
        class="button is-large is-medium-mobile is-primary"
        alt="Mentoring a medida para programadores de Front-End"
        href="/mentorship"
        data-tracking="hero-cta"
        >Empieza ahora</a
      >
    </div>
  </div>
</section>

<section class="section is-medium has-text-centered has-background-grey-dark">

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <span class="icon is-spaced">
          <i class="fas fa-3x fa-laptop-code has-text-warning"></i>
        </span>
        <h1
          class="title has-text-warning is-spaced is-size-3-desktop is-size-4-mobile"
        >
          Trabajar desarrollando software es todo un reto.
        </h1>
        <h2 class="subtitle is-size-5-desktop has-text-white has-text-centered">
          Parece que cada día hay una nueva tendencia tecnológica que aprender,
          herramientas que dominar y un sinfín de artículos en blogs
          relacionados con el desarrollo de software. Sin alguien que te ayude a
          filtrar toda esa información, puede llegar a abrumarte e intimidarte.
          Lo sé porque he recorrido unos cuantos kilómetros en tus zapatos.
          Tanto si acabas de empezar en la profesión como si buscas a un
          <strong class="has-text-warning">tutor</strong>
          que te guíe y te apoye, yo puedo ayudarte.
        </h2>
      </div>
    </div>
  </div>
</section>
